src/
*.ts
!*.d.ts
tsconfig.json
*.log
.DS_Store
node_modules/
*.test.ts
*.spec.ts
test/
tests/
docs/
scenarios/
config.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.nyc_output/
*.md
!README.md
